 <center><h1>Games Spotlight</h1></center>
    <div class="row">
        <div class="col-md-3">
            <a style="color:white" href="/project/hackuwu">
                <center><img src="/img/indexuwu.png" class="border border-light" style="background: #1e1e1e;height:120px;width:100%;border-radius:20px;object-fit:scale-down"  /> <br/>
                    <strong>
                        <u>
                            HackUWU
                        </u>
                    </strong>
                    <br/>
                </center>
            </a>
        </div>
        <div class="col-md-3">
            <a style="color:white" href="/project/peteyjump">
                <center>
                    <img src="/img/indexPetey.png" class="border border-light" style="background-image: url('/img/indexPeteyAldrich.png');height:120px;width:100%;border-radius:20px;object-fit: scale-down"  /> <br/>
                    <strong>
                        <u>Petey Jump
                        </u>
                    </strong>
                    <br/>
                </center>
            </a>
        </div>
        <div class="col-md-3">
            <a style="color:white" href="/project/remix">
                <center>
                    <img src="/img/indexRemix.png" class="border border-light" style="background: #400000;height:120px;width:100%;border-radius:20px;object-fit: scale-down"  /> <br/>
                    <strong>
                        <u>UCICKI Remix</u>
                    </strong>
                    <br/>
                </center>
            </a>
        </div>
        <div class="col-md-3">
            <center><u>
                <a style="color:white" href="/project/millionaire">
                    <img src="/img/indexMillionaireBackground.png" class="border border-light" style="height:120px;width:100%;border-radius:20px;object-fit: cover"  /> <br/>
                    <strong>
                        Millionaire
                    </strong>
                    <br/>
                </a>
            </u>
            </center>
        </div>
    </div>
