<nav class="navbar navbar-expand-lg navbar-dark sticky-top" style="background-color: #000000">
    <img src="/favicon/ms-icon-310x310.png" style="width:25px;border-radius:20em">&nbsp;&nbsp;
    <a class="navbar-brand" href="#"><b>Arthur Tham</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About/CV</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/browntulstar"></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    Games/Projects
                </a>
                <div class="dropdown-menu">
                    <h6 class="dropdown-header">Digital Projects</h6>
                    <a class="dropdown-item" href="/project">Games and Stuff</a>
                    <a class="dropdown-item" href="/media">Videos and Media</a>
                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">Events and Programs</h6>
                    <a class="dropdown-item" href="https://sites.google.com/uci.edu/ctglv4dlc/" target="_blank">Change Thru Games</a>
                    <a class="dropdown-item" href="http://bit.ly/uciebc18" target="_blank">Edge Basketball Classic</a>
                    <a class="dropdown-item" href="/sport#turtle" target="_blank">Turtle Trotters</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    Research
                </a>
                <div class="dropdown-menu">
                    <h6 class="dropdown-header">About</h6>
                    <a class="dropdown-item" href="/research">About My Research</a>
                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">Projects</h6>
                    <a class="dropdown-item" href="/research/health">Self-tracking Applications</a>
                    <a class="dropdown-item" href="/research/league">Adverse Gameplay in League of Legends</a>
                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">Lab Involvements</h6>
                    <a class="dropdown-item" href="https://honors.ics.uci.edu" target="_blank">ICS Honors Program</a>
                    <a class="dropdown-item" href="http://hai.ics.uci.edu/" target="_blank">HAI Lab</a>
                    <a class="dropdown-item" href="http://mentalhealthindesign.com" target="_blank">MiD Lab</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sport">Sports</a>
            </li>
        </ul>
    </div>
</nav>