{% for info in projectItem %}
<div class="modal fade" id="{{ info.id }}" tabindex="-1" role="dialog"
     aria-labelledby="{{ info.id }}" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="padding-left:0px;padding-top:0px;padding-bottom:10px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% if info.videourl == null %}
                <center><img loading="lazy" src="/img/carousel{{ info.thumbnail }}.png" style="max-height:300px"
                /></center>
                {% else %}
                <a href="https://www.youtube.com/watch?v={{ info.videourl }}" target="_blank">
                    <div style="background-image:url('https://img.youtube.com/vi/{{ info.videourl }}/hqdefault.jpg');background-size: contain; background-repeat: no-repeat; background-position: center; height:300px">
                        <div class="container h-100">
                            <div class="row h-100 justify-content-center align-items-center">
                                <div class="col-12">
                                    <center><img src="/img/youtube_play.png" /></center>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>


                {% endif %}
                <center><h4 style="margin: 0px"><strong>{{ info.title }}</strong></h4>
                    <em>{{ info.role }}</em><br />
                    <em>{{ info.context }}, {{ info.date }}</em><br />
                    <div>{% for tag in info.tags %}
                        <span class="badge
                            {% case tag %}
                            {% when 'GameMaker:Studio' %}
                                badge-success
                            {% when 'React Native' %}
                                badge-danger
                            {% when 'Expo' %}
                                badge-light
                            {% when 'Audacity' %}
                                badge-danger
                            {% when 'HTML' %}
                               badge-warning
                            {% when 'JS' %}
                               badge-warning
                            {% when 'Java' %}
                               badge-warning
                            {% when 'PHP' %}
                               badge-danger
                            {% when 'Android Studio' %}
                               badge-danger
                            {% when 'Google Cardboard' %}
                               badge-danger
                            {% when 'mySQL' %}
                               badge-dark
                            {% when 'Microsoft Malmo' %}
                               badge-dark
                            {% when 'Transposit' %}
                               badge-dark
                            {% when 'Twilio Sendgrid' %}
                               badge-danger
                            {% when 'Twilio API' %}
                               badge-danger
                            {% when 'Firebase' %}
                               badge-danger
                            {% when 'AWS' %}
                               badge-warning
                            {% when 'Google Cloud Platform' %}
                               badge-danger
                            {% when 'Python' %}
                                badge-primary
                            {% when 'PyTorch' %}
                                badge-primary
                            {% when 'Unity' %}
                                badge-dark
                            {% else %}
                                badge-dark
                            {% endcase %}
                            ">{{ tag }}</span>
                        {% endfor %}
                    </div>
                    <br />
                    {% if info.playurl != null %}
                    <button class="btn btn-light" style="background-color:dodgerblue">
                        <a href="{{ info.playurl }}" target="_blank" style="color:white">Play</a></button>
                    {% endif %}
                    {% if info.infourl != null %}
                    <button class="btn btn-light" style="background-color:lightgray">
                        <a href="{{ info.infourl }}" target="_blank">Info</a></button>
                    {% endif %}
                </center>
                <blockquote>{{ info.description }}</blockquote>
                {% if info.hackathon == true %}
                <i class="fab fa-hackerrank"></i> Hackathon Project<br/>
                {% endif %}
                {% if info.gamejam == true %}
                <i class="fas fa-gamepad"></i> Game Jam Project<br/>
                {% endif %}
                {% if info.demoed == true %}
                <i class="fas fa-certificate"></i> I demoed!<br/>
                {% endif %}
                {% for award in info.awards %}
                <i class="fas fa-medal"></i> {{ award }} <br/>
                {% endfor %}
                <small>
                    Teamed with: {{ info.team }}<br/>
                    Contribution: {{ info.roledescription }}
                </small>
            </div>
        </div>
    </div>
</div>
{% endfor %}