<a href="https://www.linkedin.com/in/arttham" style="color:white" target="_blank">
    <i class="fab fa-linkedin"></i></a>
<a href="https://www.twitter.com/browntulstar" style="color:white" target="_blank">
    <i class="fab fa-twitter"></i></a>
<!--<a href="https://uci.joinhandshake.com/users/3920912" style="color:white" target="_blank">
    <i class="fas fa-handshake"></i></a> Not yet!-->
<a href="https://devpost.com/arttham" style="color:white" target="_blank">
    <i class="fas fa-code"></i></a>
<a href="https://www.youtube.com/GLCTCreations" style="color:white" target="_blank">
    <i class="fab fa-youtube-square"></i></a>
<br />
<a href="#"><button class="btn btn-light">Updated Resume Coming Soon!</button></a>