---
title: Videos/Media
description: Here are some media that I worked on!
published: true
layout: interest
projects:
    finding_circle_k:
        id: finding_circle_k
        title: Finding Circle K - UCI Circle K Orientation Video 2016
        context: UCI Circle K
        date: Sep 2016
        tags:
        - Editing
        - Videography
        - Final Cut Pro X
        description: "Filmed and edited a short film for a university community service club."
        youtube_url: WNNY8JMhoAg
        editor: true
    petey_jump:
        id: petey_jump
        title: Petey Jump Promotional Video
        context: UCI Circle K
        date: Oct 2017
        tags:
        - Videography
        description: "Filmed a thing where a Petey trainer tries to make her Petey comfortable.
        Directed by Janine."
        youtube_url: 1tId62YbfCw
        editor: true
    shoutcasting:
        id: shoutcasting
        title: Shoutcasting
        context: "twitch.tv/emiboof, Change Thru Games (CTG)"
        date: Jan 2018 and Dec 2018 (CTG), Feb 2020-present
        tags:
        - Shoutcasting
        - Commentator
        description: "Shoutcasted for various amateur Smash Brothers, Mario Kart and Tetris tourneys."
        youtube_url: wfFVo12fowc
        reporter: true
    snapchat:
        id: lantern
        title: Snapchat Reporter
        context: Anteater Television
        date: Oct 2015 - Jun 2016
        tags:
        - Reporting
        - Videography
        description: "Reporter and videographer on the Snapchat
        media platform for Anteater Television."
        youtube_url:
        other_video_url: https://www.facebook.com/watch/?v=1055039714516342
        other_video_thumbnail: lantern
        reporter: true
    timefam:
        id: timefam
        title: '"What Time Is It" - Time Manipulation Family Lip Dub'
        context: UCI Circle K
        date: May 2016
        tags:
        - Videography
        - Editing
        - FCPX
        description: Filmed a parody music video in one take featuring around 15 people!
        youtube_url: 4Icy67Gl1wo
        editor: true
    interact:
        id: interact
        title: Interact Area 5 Legacy Night
        context: Personal
        date: Jun 2015
        tags:
        - Editing
        - Videography
        - Nero Video
        description: "Filmed and edited video for the Interact Area 5 Legacy Night.
        Performed an interview with the host of the event!"
        youtube_url: 7H6-1m5SljU
        editor: true
---

<p><small><strong>Click to view.</strong></small>
    <small>Green: Reporter/Commentator. Blue: Editor/Videographer/Producer.</small></p>
<div class="container" style="overflow:auto; white-space: nowrap; overflow-x: scroll; overflow-y: hidden">
{% for projectItem in page.projects %}
{% for info in projectItem limit:1 offset:1 %}
    <button class="btn" style="background-color:
    {% if info.editor == true %}
    midnightblue
    {% elsif info.reporter == true %}
    darkgreen
    {% endif %}
    ;width:150px;height:150px"
            data-toggle="collapse" onclick="collapse()"
       href="#modal_{{ info.id }}">
        {% if info.youtube_url != null %}
        <img src="http://img.youtube.com/vi/{{ info.youtube_url }}/0.jpg"
        style="width:120px">
        {% endif %}
        {% if info.other_video_thumbnail != null %}
        <img src="/img/{{ info.other_video_thumbnail}}.png"
        style="width:120px">
        {% endif %}
        <br/>
        {% for tag in info.tags limit:1 %}
        <span class="badge badge-light">{{ tag }}</span>
        {% endfor %}
    </button>
{% endfor %}
{% endfor %}
</div>
<hr>
<div id="selector">
{% for projectItem in page.projects %}
{% for info in projectItem limit:1 offset:1 %}
<div class="collapse" data-parent="#selector" id="modal_{{ info.id }}">
    <div class="row">
        <div class="col-md-12">
            {% if info.other_video_thumbnail != null %}
            <center><img src="/img/{{ info.other_video_thumbnail }}.png" style="max-height:300px"
            /></center><br/>
            {% elsif info.youtube_url != null %}
            <iframe width="100%" height="300px" src="https://www.youtube-nocookie.com/embed/{{ info.youtube_url }}"
                    frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe><br/>
            {% endif %}
            <h5 style="font-weight:bold">{{ info.title }}</h5>
            <p>{{ info.context }}<br>
                <i>{{ info.date }}</i><br/>
                {% for tag in info.tags %}
                <span class="badge badge-dark">{{ tag }}</span>
                {% endfor %}
                <br/>
                {{ info.description }}<br/>
                {% if info.other_video_url != null %}
                <a href="{{ info.other_video_url }}"
                   target="_blank"
                   class="badge badge-success">
                    Watch!
                </a>
                {% endif %}
            </p>
        </div>
    </div>
</div>
{% endfor %}
{% endfor %}
</div>