---
title: Projects
description: Here are some projects I worked on!
published: true
layout: interest
projects:
    gami-website:
        prioritize: true
        isWebsite: true
        id: "gami-website"
        thumbnail : "GamiWebsite"
        title: "Content Creation WebFlow Website"
        shorttitle: "Creator Webflow Site"
        date: March 2025
        playurl: 
        infourl: https://arttham.com/redirect/gami
        description: "A content creation website focused on showcasing its content creators, staff members, and esports teams."
        tags:
        - WebFlow
        - CSS
        hackathon: false
        demoed: false 
        awards: 
        team: Solo
        context: Senchigami
        role: Full-stack Developer
        roledescription: "Brought on as a consultant to optimize its website for mobile viewing and dynamically organize its members into separate category pages using its content management database system."
        videourl: 
    arttham-website-v2:
        prioritize: true
        isWebsite: true
        id : "arttham-website-v2"
        thumbnail : "arttham-website-v2"
        title: "Personal Website (V2)"
        shorttitle: "Personal Website (V2)"
        date: February 2025
        playurl:
        infourl: https://home.arttham.com
        description : "A website showing high-level details about me, my skillset, and my projects."
        tags:
        - React
        - JS
        - HTML
        - GitHub Pages
        hackathon: false
        demoed: false
        awards:
        team: Solo
        context: Personal
        role: Programmer
        roledescription: "Developed a website, forked from a GitHub template, where I showcased my skillset and projects in a sleek design. Learned React to implement a timeline layout for both desktop and mobile browsers."
        videourl:
    rkc-website:
        prioritize: true
        isWebsite: true
        id: "rkc-website"
        thumbnail : "RKCWebsite"
        title: "Kiwanis Club of Rosemead Namecheap Charity Website"
        shorttitle: "Charity Namecheap Site"
        date: August 2024
        playurl: 
        infourl: https://kiwanisclubofrosemead.org
        description: "A charity website promoting the Kiwanis Club of Rosemead."
        tags:
        - PHP
        - mySQL
        - MariaDB
        - PHPMyAdmin
        - NameCheap
        - HTML
        - JS
        - Google API
        hackathon: false
        demoed: false 
        awards: 
        team: Tom Yu
        context: Kiwanis Club of Rosemead
        role: Full-stack Developer
        roledescription: "Designed and developed a framework to host webpages for a charity organization, with a dynamic page system where ordinary users can update page contents, announcements, calendar details, etc. Implemented Google CAPTCHA and project deployment systems via NameCheap and git source control."
        videourl: 
    valorant-tournament-website:
        prioritize: true
        isWebsite: true
        id: "valorant-tournament-website"
        thumbnail : "valoranttournamentwebsite"
        title : "Tournament Website"
        shorttitle: "Tournament Website"
        date: May 2023
        playurl:
        infourl: https://arttham.com/redirect/valoranttournament
        description: "A website promoting an online esports tournament series."
        tags: 
        - Google Sites
        - Cloudflare
        - Google Docs 
        - Google Sheets
        hackathon: false
        demoed: false 
        awards: 
        team: Solo
        context: Personal
        role: Web Developer and Curator
        roledescription: "Curated and organized tournament information, presenting details about the series and its supporting cast and providing mechanisms to learn more about each event. Organized and published event pages, gathered and organized a list of supporting cast members, and maintained important guides for players."
    valorant-tournament:
        prioritize: true
        id: "valorant-tournament"
        thumbnail : "valoranttournament"
        title : "Tournament Production"
        shorttitle: "Tournament Production"
        date: Jan 2023
        playurl:
        infourl: https://arttham.com/redirect/valoranttournament
        description:
        tags: 
        - Google Sheets
        - OBS
        - Voicemeeter
        - VB-Audio
        - VDO.Ninja
        hackathon: false
        demoed: false 
        awards: 
        team: Solo
        context: Personal
        role: Event Organizer, Broadcast Producer
        roledescription: Broadcast 33 VALORANT tournament games across 30 hours between 20 teams representing 13 online streamer communities. Utilize OBS and Sheets.io to create custom in-game overlays resulting in an immersive broadcast experience for an average of 70 viewers.
        videourl: Bgwy7m3vhNs
    brownie-website:
        prioritize: true
        isWebsite: true
        id: "brownie-website"
        thumbnail : "BrownieWebsite"
        title: "Content Creator Personal Website"
        shorttitle: "Creator Website"
        date: May 2022
        playurl: 
        infourl: https://arttham.com/redirect/browniewebsite
        description: "A website promoting a content creator that streams online."
        tags:
        - mySQL
        - PHP
        - PHPMyAdmin
        - Google Cloud
        - YouTube API
        - Discord API
        - Twitch API
        hackathon: false
        demoed: false 
        awards: 
        team: Solo
        context: Personal
        role: Full-stack Developer
        roledescription: Deployed LAMP stack and utilized mySQL/PHP backend to host blog posts as a subscription perk for online viewers. Designed a user system with Discord and Twitch integration to provide exclusive access to paying members. Created an admin panel where the webmaster and add, edit, and delete curated content.
        videourl: 
    cloudinary-adventures:
        prioritize: true
        id: "cloudinary-adventures"
        thumbnail : "TQCloudinary"
        title: "Cloudinary Video Adventures (TwilioQuest Extension)"
        shorttitle: "Cloudinary Vid TQ"
        date: April 2022
        playurl: 
        infourl: https://github.com/arthurtham/TQ-Extension-Cloudinary-Video/
        description: 
        tags:
        - TwilioQuest
        - JS
        hackathon: false
        demoed: false 
        awards: 
        team: Tessa Mero
        context: Work (Cloudinary)
        role: TwilioQuest Developer and Content Writer
        roledescription: Provide support to the Cloudinary TwilioQuest extension team by refactoring objectives and enhancing map design, resulting in an enhanced educational coding experience for new Cloudinary users.
        videourl:
    oss-elephpant:
        prioritize: true
        id: "twilioquest-oss-elephpant"
        thumbnail : "TQOSS"
        title: "OSS Elephpant: Good Morning, Future Colonist!"
        shorttitle: "OSS Elephpant TQ"
        date: Dec 2021
        playurl: https://www.twilio.com/quest/extensions
        infourl: https://github.com/arthurtham/oss-elephpant-mission-2
        description: Ele, the AI on a rogue Open Source colony ship mistakes you for one of her future colonists and begins your training to become an effective member of an early exploration team. Explore different ways to think critically by solving interactive objectives in order to learn more about biases and break stereotypes.
        tags:
        - TwilioQuest
        - JS
        hackathon: false
        demoed: false 
        awards: 
        team: Margaret Staples, Jayla Watje
        context: Work (Twilio)
        role: Junior Game Designer
        roledescription: I worked on the level design and implementation of the educational content on critical thinking developed by professional educators.
        videourl:
    hackrukauwu:
        prioritize: false
        isWebsite: false
        id : "hackrukauwu"
        thumbnail : "Hackrukauwu"
        title: "HackRukaUWU"
        shorttitle: "HackRukaUWU"
        date: June 2021
        playurl: https://sandbox.arttham.com/HarukaUWU/
        infourl: 
        description : "hi, i'm vonnie and i don't tilt."
        tags:
        - "GameMaker:Studio"
        - PHP
        - mySQL
        - Google Cloud Platform
        hackathon: false
        demoed: false
        awards:
        team: Solo
        context: Personal
        role: Sole Programmer/Graphic Designer
        roledescription: "An updated version of HackUWU, made as a themed free commission."
        videourl: V7E8JRrwIJQ
    concentration-training:
        prioritize: true
        isWebsite: false
        id : "concentration"
        thumbnail : "ConcentrationTraining"
        title : "Concentration Training"
        shorttitle: "Concentration Training"
        date: June 2021
        playurl : "http://arttham.com/redirect/concentration"
        infourl : 
        description : "Concentrate and train your memorization skills!"
        tags:
        - "Unity"
        - "MongoDB"
        hackathon: false
        demoed: false
        awards:
        team: Solo
        context: Personal
        role: Solo Programmer
        roledescription: I used this project as a Unity engine refresher and learned about connectivity between Unity and MongoDB.
        videourl: vy7w_t6mHkU
    yume-gaming-website:
        prioritize: false
        isWebsite: true
        id : "yume-gaming-website"
        thumbnail : "YumeWebsiteLogo"
        title : "Yume Gaming Website"
        shorttitle: "Yume Gaming Website"
        date: "May 2021"
        playurl :
        infourl : 
        description : "A website of a former content creation group."
        tags:
            - "Wordpress"
        hackathon: false
        demoed: false
        awards:
        team: Yume Gaming
        context: Yume Gaming
        role: Webmaster
        roledescription: "I was in charge of maintaining its website and showcasing its members. I maintained its webpages describing the organization using WordPress. I deployed its video media on the home page to promote its esports team."
        videourl:
    twilio-stocks:
        id : "twilio-stocks"
        thumbnail : "Twiliostocks"
        title : "Twiliostocks"
        shorttitle: "Twiliostocks"
        date: March 2021
        playurl : 
        infourl : "https://devpost.com/software/twiliostocks"
        description : "Twirl your way to the moon with Twiliostocks!"
        tags:
        - "ReactJS"
        - "Twilio API"
        - "MongoDB"
        - "HTML"
        hackathon: true
        demoed: true
        awards:
        team: See Info Link
        context: HackSC
        role: Front-end Programmer, helped with back-end work
        roledescription: I worked on the front-end, the first time I've used the React JS framework. On the back-end, I set up the Twilio framework to work with the Finnhub data to send notifications.
        videourl: CdtKsBReGtw
    jeopardy-twilio:
        id : "jeopardy"
        thumbnail : "Jeopardy"
        title : "Jeopardy: The Twilio Text Challenge"
        shorttitle: "Jeopardy: Twilio"
        date: February 2021
        playurl : 
        infourl : "https://devpost.com/software/jeopardy-the-twilio-text-challenge"
        description : "Use SMS to answer Final Jeopardy questions with your friends!"
        tags:
        - "Unity"
        - "Twilio API"
        hackathon: true
        demoed: true
        awards:
        team: Solo
        context: HackSC
        role: Solo Programmer
        roledescription: I gave the answers and you give the questions. I got help from the technology's innovations in Twilio, Unity, and Flask for this project.
        videourl: CupXlzDz5s0
    devils-advocate:
        id : "devil"
        thumbnail : "Devil"
        title : "Devil's Advocate"
        shorttitle: "Devil's Advocate"
        date: February 2021
        playurl :
        infourl : "https://devpost.com/software/shoulder-devils"
        description : "Got extra money? Tell us about it and see our spending suggestions!"
        tags:
        - "HTML"
        - "JS"
        hackathon: true
        demoed: true
        awards:
        team: Lily Perry, Amartya Ranganathan
        context: TreeHacks
        role: Back-end Programmer
        roledescription: I worked on the back-end, linking the Javascript code from the website to the Flask server. I set up the database feature to show the funny titles and descriptions on the screen. I also worked on the promotional video.
        videourl: JVm0heUc1aU
    barista-impact:
        prioritize: true
        id : "bar"
        thumbnail : "Bar"
        title : "Barista Impact"
        shorttitle: "Barista Impact"
        date: December 2020
        playurl : "/redirect/baristaimpact.html"
        infourl : ""
        description : "Roll for your favorite Baristas and boba places!"
        tags:
        - "Unity"
        hackathon: false
        demoed: false
        awards:
        team: Solo
        context: Personal
        role: Solo Programmer
        roledescription: I learned about how to navigate 3D spaces, adding 3D models to a scene and learning about 3D physics! I also learned how to manage game states, using rolls, currency and collection features.
        videourl: lDE6ujBENJ0
    disboard:
        prioritize : false
        id : "disboard"
        thumbnail : "Disboard"
        title : "Disboard"
        shorttitle: "Disboard"
        date: August 2020
        playurl : 
        infourl : "https://devpost.com/software/disboard"
        description : "Ditch being bored with Disboard! Allow students to work together on assignments by drawing their answers on a collaborative whiteboard from the convenience of their mobile devices."
        tags:
        - "MongoDB"
        - "HTML"
        - "React JS"
        hackathon: true
        demoed: true
        awards:
        team: See Info Link
        context: HackThis
        role: Back-end programmer
        roledescription: I worked on the backend, setting up the Mongo database and linking it to the app. I focused on the instructor view and developed a schema to efficiently store and retrieve assignment data. I assisted in beta-testing the web app through different OS environments, promoting agile and rapid development.
        videourl: WsDrV-9Ikg4
    casas:
        id : "casas"
        thumbnail : "Casas"
        title: "The Mystery of Dos Casas"
        shorttitle: "Mystery of Dos Casas"
        date: June 2020
        playurl: https://sandbox.arttham.com/DosCasas/
        infourl: https://www.youtube.com/watch?v=dpqbpFoq3tQ
        description :  "It’s the late 1800’s and land grabbing in Mexico is at an all-time high. As a top governmental official,
        it is your job to relegate the land of two Mexican elites, the Fernandez family and the Gonzalez family. Just when you think you’ve
        closed the deal, a mysterious disaster strikes! Now you’ve got the hardest, bloodiest case you’ve ever had on your hands.
        Can you fill in the blanks and put the land deed in its rightful place?"
        tags:
        - Python
        - Renpy
        hackathon: false
        demoed: false
        awards:
        team: Andi Yu, Andrew Zhao, Benjamin Tolan, Cole Medley, Rolando Hernandez, Samuel Bordet.
        context: Class project (ICS 166)
        role: Project Manager and Programmer
        roledescription: "Managed the production timeline of the game development. Created the level: Jorge Gonzalez."
        videourl: dpqbpFoq3tQ
    owols:
        prioritize: false
        id : "owols"
        thumbnail : "owols"
        title: "HackUWU Owols"
        shorttitle: "HackUWU Owols"
        date: March 2020
        playurl: 
        infourl: https://devpost.com/software/hackuwu-owols
        description :  "Fight off the coruwu by sending texts and emails filled with uwus, owos, and ewes!"
        tags:
        - "GameMaker:Studio"
        - Twilio API
        - PHP
        - mySQL
        - Google Cloud Platform
        hackathon: true
        demoed: true
        awards:
        team: Solo
        context: LA Hacks
        role: Sole Programmer
        roledescription: "Set up G-Cloud mySQL back-end. Developed front-end interface using GML. Services powered by Twilio."
        videourl: 1Qy4AB_O4tY
    tritons:
        id : "tritons"
        thumbnail : "HackuwuTritons"
        title: "HackUWU Tritons"
        shorttitle: "HackUWU Tritons"
        date: October 2019
        playurl: 
        infourl: https://devpost.com/software/hackuwu-tritons
        description : "Fight on, the uwu host prevails / March on, in unity / Bold and strong we fight / for uwu victory."
        tags:
        - "Unity"
        - "Google Cardboard"
        - "Google Cloud Platform"
        hackathon: true
        demoed: true
        awards:
        team: Solo
        context: SDHacks 2019
        role: Sole Programmer
        roledescription: "Set up G-Cloud mySQL back-end. Developed Google VR app using Unity engine, powered by iPhone. Set up in-hackathon beta testing resulting in rapid prototyping of product."
        videourl: McpA5SOFefU
    petr:
        prioritize : false
        id : "petr"
        thumbnail : "Petr"
        title: "Petr Jump"
        shorttitle: "Petr Jump"
        date: October 2019
        playurl: https://sandbox.arttham.com/PetrJump/
        infourl: https://devpost.com/software/petr-jump
        description : Evade Petr by vaulting over the Anteater Army!
        tags:
        - "Unity"
        hackathon: true
        demoed: true
        awards:
        - "Best Entertainment: Winner"
        team: Solo
        context: MLH Local Hack Day UCI
        role: Sole Programmer
        roledescription: Developed game using Unity engine, published in WebGL.
        videourl:
    guzman:
        id : "guzman"
        thumbnail : "Guzman"
        title: "Guzman Home Run Derby"
        shorttitle: "Guzman HR Derby"
        date: July 2019
        playurl: /redirect/guzman.html
        infourl: 
        description : Play as your favorite Composite K players in Guzman Home Run Derby!
        tags:
        - "Unity"
        hackathon: false
        gamejam: true
        demoed: false
        awards:
        team: Solo
        context: My First Game Jam
        role: Sole Programmer
        roledescription: Developed game using Unity engine, published in WebGL. Wrote a blog documenting progress and though process on itch.io.
        videourl: GLZcKqFLI0Y
    noah:
        id : "noah"
        thumbnail : "Noah"
        title: "Project NoahCoffee"
        shorttitle: "NoahCoffee"
        date: June 2019
        playurl:
        infourl: https://expo.io/@arttham/NoahCoffee/
        description : Make it lit by reserving your coffee appointments with Noah Ferrer! A proof of concept project.
        tags:
        - "Expo"
        - "React Native"
        - "Google Cloud Platform"
        hackathon: false
        demoed: false
        awards:
        team: Solo
        context: Personal
        role: Sole Programmer
        roledescription: "Set up G-Cloud mySQL back-end. Developed Android app using React Native, powered by Expo."
        videourl:
    dungeon:
        prioritize: true
        id : "dungeon"
        thumbnail : "Dungeon"
        title: "Dungeon Masters"
        shorttitle: "Dungeon Masters"
        date: June 2019
        playurl:
        infourl: https://dannym08.github.io/Dungeon-Masters/
        description : "Use the power of the PyTorch and your computer to solve dungeons without having to do anything!"
        tags:
        - Python
        - PyTorch
        - Microsoft Malmo
        hackathon: false
        demoed: false
        awards:
        team: Danny Mardirousi, Jimi Cao
        context: Course Project (CS175)
        role: Support Programmer, Website Publisher
        roledescription: "Set up testing scenarios for AI dungeon
        training in Microsoft Malmo. Debugged Tensorflow backend.
        Recorded statistics on AI performance and produced a
        video report on the resulting game model."
        videourl: bh9HQMejJsA
    arttham-website:
        prioritize: true
        isWebsite: true
        id : "arttham-website"
        thumbnail : "arttham-website"
        title: "Personal Website (V1)"
        shorttitle: "Personal Website (V1)"
        date: April 2019
        playurl:
        infourl: 
        description : "A personal portfolio website with personal and career details."
        tags:
        - Ruby
        - GitHub Pages
        - Jekyll
        - Bootstrap
        hackathon: false
        demoed: false
        awards:
        team: Solo
        context: Personal
        role: Programmer
        roledescription: "Developed a website using Jekyll and deployed on GitHub pages that showcases projects that I worked on. In fact, this website is the same website described here. It also showcases my full CV and had deeper details on my skillset until I developed version 2 of this website."
        videourl:  
    octopet:
        prioritize: false
        id : "octopet"
        thumbnail : "Octopet"
        title: "Octopet"
        shorttitle: "Octopet"
        date: April 2019
        playurl:
        infourl: https://devpost.com/software/octopet
        description : "Feed your almost-eight-legged companion with
        the food you consume! Its life expectancy depends on YOU and your
        healthy eating habits.
        Feed it, hug it, love it purrever!"
        tags:
            - Android Studio
            - Firebase
            - Java
            - Google Cloud Platform
            - Transposit
        hackathon: true
        demoed: true
        awards:
            - "Entertainment Vertical: Runner Ups"
        team: Sophia Tao, Eric Wei, Dylan Wong
        context: HackSC 2019
        role: Programmer
        roledescription: "I acted as a project lead, working on
        the back-end logic- specifically configuring the Firebase/Google
        Cloud Platform for image processing, engineering the logic workflow
        for reward decision making for our Octopet, and maintaining our
        Github repository and Devpost submission page.
        Oh, and I recorded a video because why not?"
        videourl: v8cSqTl3CbQ 
    remix:
        prioritize: false
        id : "remix"
        thumbnail : "Remix"
        title: "UCICKI Remix"
        shorttitle: "UCICKI Remix"
        date: March 2019
        playurl: http://sandbox.arttham.com/UCICKIRemix
        infourl: https://devpost.com/software/ucicki-remix
        description : The Biggest Crossover Game in UCICKI History!
        tags:
        - "GameMaker:Studio"
        - PHP
        hackathon: false
        demoed: false
        awards:
        team: Solo
        context: UCI Circle K
        role: Sole Programmer/Graphic Designer
        roledescription: "Translated 15 games from their original
        sources to GameMaker: Studio language. Compiled a selection of
        music to accompany the celebration of 6 years of games on the
        UCI Circle K website. Developed PHP back-end to handle leaderboard.
        Conceived algorithm to generate random puzzles per play."
        videourl: xzq_-RmhEow
    hackuwu:
        prioritize: false
        id : "hackuwu"
        thumbnail : "Hackuwu"
        title: "HackUWU"
        shorttitle: "HackUWU"
        date: February 2019
        playurl: https://sandbox.arttham.com/HackUWU/
        infourl: https://devpost.com/software/hackuwu
        description : "450 Owos. 36 Ewes. Unlimited Uwus. Spread the joy of uwu and while dodging common anteater distractions!"
        tags:
        - "GameMaker:Studio"
        - PHP
        - mySQL
        - Transposit
        - Google Cloud Platform
        - Twilio Sendgrid
        hackathon: true
        demoed: true
        awards:
        - "Best Joke Hack: Co-winner"
        team: Solo
        context: HackUCI 2019
        role: Sole Programmer/Graphic Designer
        roledescription: "(Derived from Devpost) UWU! I contributed to the game's programming, mechanics, and ruleset. The graphics
        are mostly derivations of current graphics featured in this event, but they
        have been uwufied! Specifically, I developed the game on the GameMaker:
        Studio engine. I modified the logos and graphics using Adobe Photoshop.
        The music is loyalty-free."
        videourl: MENaU2NEZyg
    underwater:
        id : "underwater"
        thumbnail : "Underwater"
        title: "The Adventure of Underwater Heroes"
        shorttitle: "Underwater Heroes"
        date: "March 2018"
        playurl: https://www.ics.uci.edu/~thamaj/sandbox/ics161/auh/
        infourl:
        description : "Team up with a hero partner to take down the octopus kingdom!"
        tags:
        - "Unity"
        - "Audacity"
        hackathon: false
        demoed: false
        awards:
        team: Alexander Davis, Kuanping Chang, Samuel Leyva
        context: Class Project (ICS161)
        role: Programmer, Audio Engineer
        roledescription: "Acted as sound engineer and developed sound effects and music for the underwater theme. As support programmer,
        focused on the ship shooter mechanics and GUI scaling."
        videourl:
    fabflix:
        prioritize: false
        isWebsite: true
        id : "fabflix"
        thumbnail : "Fabflix"
        title: "Fabflix"
        shorttitle: "Fabflix"
        date: "March 2018"
        playurl:
        infourl:
        description : "Search for all of your favorite movies on Fabflix!"
        tags:
        - "AWS"
        - "mySQL"
        - "Google Cloud Platform"
        - "HTML"
        - "JS"
        - "Java"
        hackathon: false
        demoed: false
        awards:
        team: <a href="https://amibpatel.me/" target="_blank">Ami Patel</a>
        context: Class Project (CS122B)
        role: Programmer
        roledescription: "Back-end programmer. Managed the Tomcat server
        on AWS Ubuntu machine. Set up and configured mySQL database and back-end/front-end
        communications resulting in dynamic webpage generation."
        videourl:
    angler:
        id : "angler"
        thumbnail : "Angler"
        title: "Super Smash Anglers"
        shorttitle: "Super Smash Anglers"
        date: "February 2018"
        playurl: https://www.ics.uci.edu/~thamaj/sandbox/ics161/ssa/
        infourl: https://devpost.com/software/supersmashanglers
        description : "Will you light up the world like nobody else? Or will you flop to your doom like these poor Anglers? DINGDINGDING"
        tags:
        - "Unity"
        hackathon: true
        demoed: true
        awards:
        team: Solo
        context: HackUCI 2018
        role: Sole Programmer/Graphic Designer
        roledescription: "Developed programming mechanics and configured physics
        for Anglers to... uh, flop. Shoved music into Garageband and
        it produced some nice music. Photoshopped faces on fish."
        videourl: kDuvM4r_LYE
    petey jump:
        prioritize: false
        id : "petey"
        thumbnail : "Petey"
        title: "Petey Jump"
        shorttitle: "Petey Jump"
        date: "November 2017"
        playurl: "http://sandbox.arttham.com/sandbox/PeteyJump"
        infourl: http://www.devpost.com/software/petey-jump/
        description : "In a world full of Peteys, who will train them all?
        It's up to you to mentor the Peteys and win the Spirit award at DCON!"
        tags:
        - "GameMaker:Studio"
        - "PHP"
        hackathon: false
        demoed: false
        awards:
        team: <a href="https://www.janinecarpena.com/" target="_blank">Janine Carpena</a>, <a href="https://www.linkedin.com/in/winnie-lam-138118164/">Winnie Lam</a>
        context: UCI Circle K
        role: Lead Programmer
        roledescription: "Project lead. Developed back-end system to manage save states and leveling system.
        As the sole programmer, programmed the interactivity of the GUI as designed by the two artists on the team.
        Assisted with marketing and promotion of game."
        videourl: cZg92s0v0uE
    induction night:
        prioritize: false
        id : "in"
        thumbnail : "Induction"
        title: "Induction Night"
        shorttitle: "Induction Night"
        date: "March 2017"
        playurl: "http://sandbox.arttham.com/InductionNight"
        infourl: "http://www.devpost.com/software/induction-night/"
        description : "Where's my family? Experience Induction Night and life as a UCI Circle K member as you explore popular destinations around campus!"
        tags:
        - "GameMaker:Studio"
        - "PHP"
        - "mySQL"
        hackathon: false
        demoed: false
        awards:
        team: See "Info"
        context: UCI Circle K
        role: "Director, Lead Programmer"
        roledescription: "Configured mySQL backend with PHPMyAdmin and Ubuntu.
        Developed random level generator and scene flow resulting in a new
        gameplay experience per play. As team leader, delegated tasks for
        sprite creation and level design. Supported post-release development
        by adding content over several months. <br/><br/>Also filmed a <a href='/media'>promo video!</a>"
        videourl: _6oF3mBYaqQ
    enlighten:
        id : "enlighten"
        thumbnail : "Enlighten"
        title : "Enlighten Your Day"
        shorttitle: "Enlighten Your Day"
        date: "January 2017"
        playurl :
        infourl : https://devpost.com/software/enlighten-your-day
        description : "Enlighten Your Day with a collection of inspirational quotes from ten distinct categories."
        tags:
            - "HTML"
            - "JS"
        hackathon: true
        demoed: false
        awards:
        team: <a href="https://amibpatel.me/" target="_blank">Ami Patel</a>, My Lynn Huynh, <a href="https://wong-jessica.me/" target="_blank">Jessica Wong</a>
        context: "Class Project (ICS 32)"
        role: Programmer
        roledescription: "Configured mySQL backend with PHPMyAdmin and Ubuntu. As project lead,
helped code the backend system that saves user settings depending on the quote theme picked."
        videourl:
    ucicki-website:
        prioritize: false
        isWebsite: true
        id : "ucicki-website"
        thumbnail : "UCICKI"
        title : "UCI Circle K Website"
        shorttitle: "UCI Circle K Website"
        date: "October 2016"
        playurl :
        infourl : https://ucicirclek.com
        description : ""
        tags:
            - "HTML"
            - "JS"
            - "PHP"
            - "mySQL"
        hackathon: false
        demoed: false
        awards:
        team: See TIP page on website.
        context: UCI Circle K
        role: "Webmaster, Game Developer"
        roledescription: "I was in charge of this website for 3 years, maintaining a user system of over 1000 members. I developed mechanisms to sign up for the organization with an online form, with the ability to label members with special roles for privilaged page access. I conceived an event waitlist system to facilitate and track users attending them while compiling metrics on event performance. Finally, I developed interactive media where users can play online web apps to learn more about the organization."
        videourl: EnMvcep1bn0
    millionaire:
        prioritize: false
        isWebsite: false
        id : "mil"
        thumbnail : "Millionaire"
        title : "Cash Mountain - Who Wants to be a Millionaire"
        shorttitle: "Cash Mountain"
        date: October 2016
        playurl : "/redirect/millionaire.html"
        infourl : "/project/millionaire"
        description : "Do you have what it takes to win 1 Million dollars?
        Just answer 15 questions! Previously known as Millionaire: UCI Circle K Edition."
        tags:
        - "GameMaker:Studio"
        - Audacity
        - "PHP"
        - "mySQL"
        hackathon: false
        demoed: false
        awards:
        team: See "Info"
        context: Personal/UCI Circle K
        role: Director, Lead Programmer, Graphic Animator
        roledescription: 'Configured mySQL backend with PHPMyAdmin and Ubuntu.
        Developed random question picker and question bank system flow.
        Re-created some music and sound effects for an authentic game show experience.
        <br/><br/> Previously known as
            Millionaire: UCI Circle K Edition in 2016'
        videourl: 3o-cTZfk9ss
    othello:
        id : "othello"
        thumbnail : "Othello"
        title : "Othello"
        shorttitle: "Othello"
        date: "March 2016"
        playurl :
        infourl :
        description : "Make Boo proud by flipping more pieces than him in Othello!"
        tags:
        - "Python"
        - PyGame
        hackathon: false
        demoed: false
        awards:
        team: "Solo"
        context: "Class Project (ICS 32)"
        role: Programmer
        roledescription: "Using PyGame, developed AI and GUI system to play Othello board game."
        videourl:
research:
    self track:
        shorttitle: "Self-tracking Applications"
        id: self-track
        thumbnail: Apps.png
        description: 
        url: /research/health/
        date: May 2019
    league adverse:
        shorttitle: "Adv. Gameplay in League"
        id: league-adverse
        thumbnail: League.PNG
        description: 
        url: /research/league/
        date: March 2020
    know before you go:
        shorttitle: "Know Before You Go"
        id: know-before-you-go
        thumbnail: Know.PNG
        description: 
        url: http://www.neerajd.xyz/KnowBeforeYouGo.html
        date: December 2020
    shoppingo:
        shorttitle: "ShoppinGo"
        id: shoppingo
        thumbnail: Shoppingo.PNG
        description: 
        url: /research/shoppingo/
        date: March 2021
---

<div style="padding:10px">
    <center>
    <p>
        <small>
            <i class="fab fa-hackerrank"></i> Hackathon Project
            | <i class="fas fa-gamepad"></i> Game Jam Project
            | <i class="fas fa-medal"></i> Award-winning Project. <br/>
            Sorted from newest to oldest.
        </small>
    </p>
    </center>
</div>

<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#projectsCollapse">Highlights</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#websiteProjectCollapse">Websites</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#researchCollapse">Research</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#dataProjectCollapse">Data Analysis</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#allProjectsCollapse">All Projects</a>
    </li>
</ul>
<hr />
<div class="tab-content">
    <div class="tab-pane fade show active" id="projectsCollapse">
        <div class="container" style="padding:10px">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col">
                            <div class="container" style="background-image: linear-gradient(black,#003333);padding:20px;border-radius: 20px">
                                {% include games_spotlight.html %}
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                    {% assign myIndex = 0 %}
                    {% for projectItem in page.projects %}
                        {% for info in projectItem limit:1 offset:1 %}
                            {% if info.prioritize == true %}
                                {% if myIndex == 3 %}
                                    </div>
                                    <div class="row">
                                    {% assign myIndex = 0 %}
                                {% endif %}
                                {% include project_listing.html %}
                                {% assign myIndex = myIndex | plus:1 %}
                            {% endif %}
                            {% endfor %}
                        {% if forloop.last %}
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="websiteProjectCollapse">
        <div class="container" style="padding:10px">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                    {% assign myIndex = 0 %}
                    {% for projectItem in page.projects %}
                        {% for info in projectItem limit:1 offset:1 %}
                            {% if info.isWebsite == true %}
                                {% if myIndex == 3 %}
                                    </div>
                                    <div class="row">
                                    {% assign myIndex = 0 %}
                                {% endif %}
                                {% include project_listing.html %}
                                {% assign myIndex = myIndex | plus:1 %}
                            {% endif %}
                            {% endfor %}
                        {% if forloop.last %}
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="allProjectsCollapse">
        <div class="container" style="padding:10px">
            <div class="row">
                <div class="col-sm-12">
                    <p>Please visit <a href="https://dataprojects.arttham.com">this website</a> for my data analysis projects.</p>
                </div>
            </div>
            <div>
                <div class="col-sm-12">
                    <ul>
                    {% for projectItem in page.projects %}
                        {% for info in projectItem limit:1 offset:1 %}
                            <li>
                                <a href="#" data-toggle="modal" data-target="#{{ info.id }}">
                                    <strong>
                                        {{ info.title }}
                                    </strong>
                                </a>
                                <br/>
                                <i>
                                    {{ info.date }}
                                </i> | 
                                {% if info.hackathon == true %}
                                <small><i class="fab fa-hackerrank"></i></small>
                                {% endif %}
                                {% if info.gamejam == true %}
                                <small><i class="fas fa-gamepad"></i></small>
                                {% endif %}
                                {% for award in info.awards %}
                                <small><i class="fas fa-medal"></i></small>
                                {% endfor %}
                                {% if info.tags[0] %}
                                <span class="badge badge-dark">
                                    {{ info.tags[0] }} 
                                </span>
                                {% endif %}
                                {% if info.tags[1] %}
                                <span class="badge badge-dark">
                                    {{ info.tags[1] }} 
                                </span>
                                {% endif %}
                                {% if info.tags[2] %}
                                <span class="badge badge-dark">
                                    +
                                </span>
                                {% endif %}
                            </li>
                        {% endfor %}
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="dataProjectCollapse">
        <div class="container" style="padding:10px">
            <div class="row">
                <div class="col-sm-12">
                    <p>Please visit <a href="https://dataprojects.arttham.com">this website</a> for my data analysis projects.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="researchCollapse">
        <div class="container" style="padding:10px">
            <div class="row">
                <div class="col-sm-12">
                    {% for projectItem in page.research %}
                    {% include research_listing.html %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>



{% for projectItem in page.projects %}
    {% include project_modal.html %}
{% endfor %}