---
title: Projects
description: Here are some projects I worked on!
published: true
layout: interest
projects:
    yume-gaming-website:
        id : "yume-gaming-website"
        thumbnail : "YumeWebsite"
        title : "Yume Gaming Website"
        shorttitle: "Yume Gaming Website"
        date: "May 2021"
        playurl :
        infourl : https://yumegaming.com
        description : ""
        tags:
            - "Wordpress"
        hackathon: false
        demoed: false
        awards:
        team: Yume Gaming.
        context: Yume Gaming
        role: Webmaster
        roledescription: "Webmaster"
        videourl: 
    noah:
        id : "noah"
        thumbnail : "Noah"
        title: "Project NoahCoffee"
        shorttitle: "NoahCoffee"
        date: June 2019
        playurl:
        infourl: https://expo.io/@arttham/NoahCoffee/
        description : Make it lit by reserving your coffee appointments with Noah Ferrer! A proof of concept project.
        tags:
        - "Expo"
        - "React Native"
        - "Google Cloud Platform"
        hackathon: false
        demoed: false
        awards:
        team: Solo
        context: Personal
        role: Sole Programmer
        roledescription: "Set up G-Cloud mySQL back-end. Developed Android app using React Native, powered by Expo."
        videourl:
    dungeon:
        id : "dungeon"
        thumbnail : "Dungeon"
        title: "Dungeon Masters"
        shorttitle: "Dungeon Masters"
        date: June 2019
        playurl:
        infourl: https://dannym08.github.io/Dungeon-Masters/
        description : "Use the power of the PyTorch and your computer to solve dungeons without having to do anything!"
        tags:
        - Python
        - PyTorch
        - Microsoft Malmo
        hackathon: false
        demoed: false
        awards:
        team: Danny Mardirousi, Jimi Cao
        context: Course Project (CS175)
        role: Support Programmer, Website Publisher
        roledescription: "Set up testing scenarios for AI dungeon
        training in Microsoft Malmo. Debugged Tensorflow backend.
        Recorded statistics on AI performance and produced a
        video report on the resulting game model."
        videourl: bh9HQMejJsA
    fabflix:
        id : "fabflix"
        thumbnail : "Fabflix"
        title: "Fabflix"
        shorttitle: "Fabflix"
        date: "March 2018"
        playurl:
        infourl:
        description : "Search for all of your favorite movies on Fabflix!"
        tags:
        - "AWS"
        - "mySQL"
        - "Google Cloud Platform"
        - "HTML"
        - "JS"
        - "Java"
        hackathon: false
        demoed: false
        awards:
        team: <a href="https://amibpatel.me/" target="_blank">Ami Patel</a>
        context: Class Project (CS122B)
        role: Programmer
        roledescription: "Back-end programmer. Managed the Tomcat server
        on AWS Ubuntu machine. Set up and configured mySQL database and back-end/front-end
        communications resulting in dynamic webpage generation."
        videourl:
    ucicki-website:
        id : "ucicki-website"
        thumbnail : "UCICKI"
        title : "UCI Circle K Website"
        shorttitle: "UCI Circle K Website"
        date: "October 2016"
        playurl :
        infourl : https://ucicirclek.com
        description : ""
        tags:
            - "HTML"
            - "JS"
        hackathon: false
        demoed: false
        awards:
        team: See TIP page on website.
        context: UCI Circle K
        role: Webmaster
        roledescription: "Webmaster, Game Developer"
        videourl: EnMvcep1bn0
games:
    hackrukauwu:
        id : "hackrukauwu"
        thumbnail : "Hackrukauwu"
        title: "HackRukaUWU"
        shorttitle: "HackRukaUWU"
        date: June 2021
        playurl: http://www.hackuwu.tech/hackrukauwu/
        infourl: 
        description : "hi, i'm vonnie and i don't tilt."
        tags:
        - "GameMaker:Studio"
        - PHP
        - mySQL
        - Google Cloud Platform
        hackathon: false
        demoed: false
        awards:
        team: Solo
        context: Personal
        role: Sole Programmer/Graphic Designer
        roledescription: "An updated version of HackUWU, made as a themed free commission."
        videourl: V7E8JRrwIJQ
    concentration-training:
        id : "concentration"
        thumbnail : "Concentration"
        title : "Concentration Training"
        shorttitle: "Concentration Training"
        date: June 2021
        playurl : "http://arttham.com/redirect/concentration"
        infourl : "http://arttham.com/redirect/concentration"
        description : "Concentrate and train your memorization skills!"
        tags:
        - "Unity"
        - "MongoDB"
        hackathon: false
        demoed: false
        awards:
        team: Solo
        context: Personal
        role: Solo Programmer
        roledescription: I used this project as a Unity engine refresher and learned about connectivity between Unity and MongoDB.
        videourl: vy7w_t6mHkU
    barista-impact:
        id : "bar"
        thumbnail : "Bar"
        title : "Barista Impact"
        shorttitle: "Barista Impact"
        date: December 2020
        playurl : "/redirect/baristaimpact.html"
        infourl : "/redirect/baristaimpact.html"
        description : "Roll for your favorite Baristas and boba places!"
        tags:
        - "Unity"
        hackathon: false
        demoed: false
        awards:
        team: Solo
        context: Personal
        role: Solo Programmer
        roledescription: I learned about how to navigate 3D spaces, adding 3D models to a scene and learning about 3D physics! I also learned how to manage game states, using rolls, currency and collection features.
        videourl: lDE6ujBENJ0
    millionaire:
        id : "mil"
        thumbnail : "Millionaire"
        title : "Who Wants to be a Millionaire"
        shorttitle: "Millionaire"
        date: June 2020/October 2016
        playurl : "/redirect/millionaire.html"
        infourl : "/redirect/millionaire.html"
        description : "Do you have what it takes to win 1 Million dollars?
        Just answer 15 questions! Previously known as Millionaire: UCI Circle K Edition."
        tags:
        - "GameMaker:Studio"
        - Audacity
        - "PHP"
        - "mySQL"
        hackathon: false
        demoed: false
        awards:
        team: See "Info"
        context: Personal/UCI Circle K
        role: Director, Lead Programmer, Graphic Animator
        roledescription: 'Configured mySQL backend with PHPMyAdmin and Ubuntu.
        Developed random question picker and question bank system flow.
        Re-created some music and sound effects for an authentic game show experience.
        <br/><br/> Previously known as <a href="http://nexus.ucicirclek.com/Millionaire/" target="_blank">
            Millionaire: UCI Circle K Edition in 2016</a>'
        videourl: 3o-cTZfk9ss
    casas:
        id : "casas"
        thumbnail : "Casas"
        title: "The Mystery of Dos Casas"
        shorttitle: "Mystery of Dos Casas"
        date: June 2020
        playurl: https://www.ics.uci.edu/~thamaj/sandbox/gruposiete
        infourl: https://www.youtube.com/watch?v=dpqbpFoq3tQ
        description :  "It’s the late 1800’s and land grabbing in Mexico is at an all-time high. As a top governmental official,
        it is your job to relegate the land of two Mexican elites, the Fernandez family and the Gonzalez family. Just when you think you’ve
        closed the deal, a mysterious disaster strikes! Now you’ve got the hardest, bloodiest case you’ve ever had on your hands.
        Can you fill in the blanks and put the land deed in its rightful place?"
        tags:
        - Python
        - Renpy
        hackathon: false
        demoed: false
        awards:
        team: Andi Yu, Andrew Zhao, Benjamin Tolan, Cole Medley, Rolando Hernandez, Samuel Bordet.
        context: Class project (ICS 166)
        role: Project Manager and Programmer
        roledescription: "Managed the production timeline of the game development. Created the level: Jorge Gonzalez."
        videourl: dpqbpFoq3tQ
    tritons:
        id : "tritons"
        thumbnail : "HackuwuTritons"
        title: "HackUWU Tritons"
        shorttitle: "HackUWU Tritons"
        date: October 2019
        playurl: https://www.hackuwu.tech/tritons/
        infourl: https://devpost.com/software/hackuwu-tritons
        description : "Fight on, the uwu host prevails / March on, in unity / Bold and strong we fight / for uwu victory."
        tags:
        - "Unity"
        - "Google Cardboard"
        - "Google Cloud Platform"
        hackathon: true
        demoed: true
        awards:
        team: Solo
        context: SDHacks 2019
        role: Sole Programmer
        roledescription: "Set up G-Cloud mySQL back-end. Developed Google VR app using Unity engine, powered by iPhone. Set up in-hackathon beta testing resulting in rapid prototyping of product."
        videourl: McpA5SOFefU
    petr:
        id : "petr"
        thumbnail : "Petr"
        title: "Petr Jump"
        shorttitle: "Petr Jump"
        date: October 2019
        playurl: https://www.ics.uci.edu/~thamaj/sandbox/petr/
        infourl: https://devpost.com/software/petr-jump
        description : Evade Petr by vaulting over the Anteater Army!
        tags:
        - "GameMaker:Studio"
        hackathon: true
        demoed: true
        awards:
        - "Best Entertainment: Winner"
        team: Solo
        context: MLH Local Hack Day UCI
        role: Sole Programmer
        roledescription: Developed game using Unity engine, published in WebGL.
        videourl:
    guzman:
        id : "guzman"
        thumbnail : "Guzman"
        title: "Guzman Home Run Derby"
        shorttitle: "Guzman HR Derby"
        date: July 2019
        playurl: /redirect/guzman.html
        infourl: /redirect/guzman.html
        description : Play as your favorite Composite K players in Guzman Home Run Derby!
        tags:
        - "Unity"
        hackathon: false
        gamejam: true
        demoed: false
        awards:
        team: Solo
        context: My First Game Jam
        role: Sole Programmer
        roledescription: Developed game using Unity engine, published in WebGL. Wrote a blog documenting progress and though process on itch.io.
        videourl: GLZcKqFLI0Y
    remix:
        id : "remix"
        thumbnail : "Remix"
        title: "UCICKI Remix"
        shorttitle: "UCICKI Remix"
        date: March 2019
        playurl: http://sandbox.arttham.com/sandbox/UCICKIRemix
        infourl: https://devpost.com/software/ucicki-remix
        description : The Biggest Crossover Game in UCICKI History!
        tags:
        - "GameMaker:Studio"
        - PHP
        hackathon: false
        demoed: false
        awards:
        team: Solo
        context: UCI Circle K
        role: Sole Programmer/Graphic Designer
        roledescription: "Translated 15 games from their original
        sources to GameMaker: Studio language. Compiled a selection of
        music to accompany the celebration of 6 years of games on the
        UCI Circle K website. Developed PHP back-end to handle leaderboard.
        Conceived algorithm to generate random puzzles per play."
        videourl: xzq_-RmhEow
    hackuwu:
        id : "hackuwu"
        thumbnail : "Hackuwu"
        title: "HackUWU"
        shorttitle: "HackUWU"
        date: February 2019
        playurl: http://www.hackuwu.tech/anteaters/
        infourl: https://devpost.com/software/hackuwu
        description : "450 Owos. 36 Ewes. Unlimited Uwus. Spread the joy of uwu and while dodging common anteater distractions!"
        tags:
        - "GameMaker:Studio"
        - PHP
        - mySQL
        - Transposit
        - Google Cloud Platform
        - Twilio Sendgrid
        hackathon: true
        demoed: true
        awards:
        - "Best Joke Hack: Co-winner"
        team: Solo
        context: HackUCI 2019
        role: Sole Programmer/Graphic Designer
        roledescription: "(Derived from Devpost) UWU! I contributed to the game's programming, mechanics, and ruleset. The graphics
        are mostly derivations of current graphics featured in this event, but they
        have been uwufied! Specifically, I developed the game on the GameMaker:
        Studio engine. I modified the logos and graphics using Adobe Photoshop.
        The music is loyalty-free."
        videourl: MENaU2NEZyg
    underwater:
        id : "underwater"
        thumbnail : "Underwater"
        title: "The Adventure of Underwater Heroes"
        shorttitle: "Underwater Heroes"
        date: "March 2018"
        playurl: https://www.ics.uci.edu/~thamaj/sandbox/ics161/auh/
        infourl:
        description : "Team up with a hero partner to take down the octopus kingdom!"
        tags:
        - "Unity"
        - "Audacity"
        hackathon: false
        demoed: false
        awards:
        team: Alexander Davis, Kuanping Chang, Samuel Leyva
        context: Class Project (ICS161)
        role: Programmer, Audio Engineer
        roledescription: "Acted as sound engineer and developed sound effects and music for the underwater theme. As support programmer,
        focused on the ship shooter mechanics and GUI scaling."
        videourl:
    angler:
        id : "angler"
        thumbnail : "Angler"
        title: "Super Smash Anglers"
        shorttitle: "Super Smash Anglers"
        date: "February 2018"
        playurl: https://www.ics.uci.edu/~thamaj/sandbox/ics161/ssa/
        infourl: https://devpost.com/software/supersmashanglers
        description : "Will you light up the world like nobody else? Or will you flop to your doom like these poor Anglers? DINGDINGDING"
        tags:
        - "Unity"
        hackathon: true
        demoed: true
        awards:
        team: Solo
        context: HackUCI 2018
        role: Sole Programmer/Graphic Designer
        roledescription: "Developed programming mechanics and configured physics
        for Anglers to... uh, flop. Shoved music into Garageband and
        it produced some nice music. Photoshopped faces on fish."
        videourl: kDuvM4r_LYE
    petey jump:
        id : "petey"
        thumbnail : "Petey"
        title: "Petey Jump"
        shorttitle: "Petey Jump"
        date: "November 2017"
        playurl: "http://sandbox.arttham.com/sandbox/PeteyJump"
        infourl: http://www.devpost.com/software/petey-jump/
        description : "In a world full of Peteys, who will train them all?
        It's up to you to mentor the Peteys and win the Spirit award at DCON!"
        tags:
        - "GameMaker:Studio"
        - "PHP"
        hackathon: false
        demoed: false
        awards:
        team: <a href="https://www.janinecarpena.com/" target="_blank">Janine Carpena</a>, <a href="https://www.linkedin.com/in/winnie-lam-138118164/">Winnie Lam</a>
        context: UCI Circle K
        role: Lead Programmer
        roledescription: "Project lead. Developed back-end system to manage save states and leveling system.
        As the sole programmer, programmed the interactivity of the GUI as designed by the two artists on the team.
        Assisted with marketing and promotion of game."
        videourl: cZg92s0v0uE
    induction night:
        id : "in"
        thumbnail : "Induction"
        title: "Induction Night"
        shorttitle: "Induction Night"
        date: "March 2017"
        playurl: "http://sandbox.arttham.com/sandbox/InductionNight"
        infourl: "http://www.devpost.com/software/induction-night/"
        description : "Where's my family? Experience Induction Night and life as a UCI Circle K member as you explore popular destinations around campus!"
        tags:
        - "GameMaker:Studio"
        - "PHP"
        - "mySQL"
        hackathon: false
        demoed: false
        awards:
        team: See "Info"
        context: UCI Circle K
        role: "Director, Lead Programmer"
        roledescription: "Configured mySQL backend with PHPMyAdmin and Ubuntu.
        Developed random level generator and scene flow resulting in a new
        gameplay experience per play. As team leader, delegated tasks for
        sprite creation and level design. Supported post-release development
        by adding content over several months. <br/><br/>Also filmed a <a href='/media'>promo video!</a>"
        videourl: _6oF3mBYaqQ
    othello:
        id : "othello"
        thumbnail : "Othello"
        title : "Othello"
        shorttitle: "Othello"
        date: "March 2016"
        playurl :
        infourl :
        description : "Make Boo proud by flipping more pieces than him in Othello!"
        tags:
        - "Python"
        - PyGame
        hackathon: false
        demoed: false
        awards:
        team: "Solo"
        context: "Class Project (ICS 32)"
        role: Programmer
        roledescription: "Using PyGame, developed AI and GUI system to play Othello board game."
        videourl:
hackathon:
    twilio-stocks:
        id : "twilio-stocks"
        thumbnail : "Twiliostocks"
        title : "Twiliostocks"
        shorttitle: "Twiliostocks"
        date: March 2021
        playurl : "http://sandbox.arttham.com/sandbox/TwilioStocks/"
        infourl : "https://devpost.com/software/twiliostocks"
        description : "Twirl your way to the moon with Twiliostocks!"
        tags:
        - "ReactJS"
        - "Twilio API"
        - "MongoDB"
        - "HTML"
        hackathon: true
        demoed: true
        awards:
        team: See Info Link
        context: HackSC
        role: Front-end Programmer, helped with back-end work
        roledescription: I worked on the front-end, the first time I've used the React JS framework. On the back-end, I set up the Twilio framework to work with the Finnhub data to send notifications.
        videourl: CdtKsBReGtw
    jeopardy-twilio:
        id : "jeopardy"
        thumbnail : "Jeopardy"
        title : "Jeopardy: The Twilio Text Challenge"
        shorttitle: "Jeopardy: Twilio"
        date: February 2021
        playurl : "http://sandbox.arttham.com/sandbox/JeopardyTwilio/"
        infourl : "https://devpost.com/software/jeopardy-the-twilio-text-challenge"
        description : "Use SMS to answer Final Jeopardy questions with your friends!"
        tags:
        - "Unity"
        - "Twilio API"
        hackathon: true
        demoed: true
        awards:
        team: Solo
        context: HackSC
        role: Solo Programmer
        roledescription: I gave the answers and you give the questions. I got help from the technology's innovations in Twilio, Unity, and Flask for this project.
        videourl: CupXlzDz5s0
    devils-advocate:
        id : "devil"
        thumbnail : "Devil"
        title : "Devil's Advocate"
        shorttitle: "Devil's Advocate"
        date: February 2021
        playurl :
        infourl : "https://devpost.com/software/shoulder-devils"
        description : "Got extra money? Tell us about it and see our spending suggestions!"
        tags:
        - "HTML"
        - "JS"
        hackathon: true
        demoed: true
        awards:
        team: Lily Perry, Amartya Ranganathan
        context: TreeHacks
        role: Back-end Programmer
        roledescription: I worked on the back-end, linking the Javascript code from the website to the Flask server. I set up the database feature to show the funny titles and descriptions on the screen. I also worked on the promotional video.
        videourl: JVm0heUc1aU
    disboard:
        id : "disboard"
        thumbnail : "Disboard"
        title : "Disboard"
        shorttitle: "Disboard"
        date: August 2020
        playurl : "https://disboardedu.herokuapp.com"
        infourl : "https://devpost.com/software/disboard"
        description : "Ditch being bored with Disboard! Allow students to work together on assignments by drawing their answers on a collaborative whiteboard from the convenience of their mobile devices."
        tags:
        - "MongoDB"
        - "HTML"
        - "React JS"
        hackathon: true
        demoed: true
        awards:
        team: See Info Link
        context: HackThis
        role: Back-end programmer
        roledescription: I worked on the backend, setting up the Mongo database and linking it to the app. I focused on the instructor view and developed a schema to efficiently store and retrieve assignment data. I assisted in beta-testing the web app through different OS environments, promoting agile and rapid development.
        videourl: WsDrV-9Ikg4
    owols:
        id : "owols"
        thumbnail : "owols"
        title: "HackUWU Owols"
        shorttitle: "HackUWU Owols"
        date: March 2020
        playurl: https://www.hackuwu.tech/owols/
        infourl: https://devpost.com/software/hackuwu-owols
        description :  "Fight off the coruwu by sending texts and emails filled with uwus, owos, and ewes!"
        tags:
        - "GameMaker:Studio"
        - Twilio API
        - PHP
        - mySQL
        - Google Cloud Platform
        hackathon: true
        demoed: true
        awards:
        team: Solo
        context: LA Hacks
        role: Sole Programmer
        roledescription: "Set up G-Cloud mySQL back-end. Developed front-end interface using GML. Services powered by Twilio."
        videourl: 1Qy4AB_O4tY
    octopet:
        id : "octopet"
        thumbnail : "Octopet"
        title: "Octopet"
        shorttitle: "Octopet"
        date: April 2019
        playurl:
        infourl: https://devpost.com/software/octopet
        description : "Feed your almost-eight-legged companion with
        the food you consume! Its life expectancy depends on YOU and your
        healthy eating habits.
        Feed it, hug it, love it purrever!"
        tags:
            - Android Studio
            - Firebase
            - Java
            - Google Cloud Platform
            - Transposit
        hackathon: true
        demoed: true
        awards:
            - "Entertainment Vertical: Runner Ups"
        team: Sophia Tao, Eric Wei, Dylan Wong
        context: HackSC 2019
        role: Programmer
        roledescription: "I acted as a project lead, working on
        the back-end logic- specifically configuring the Firebase/Google
        Cloud Platform for image processing, engineering the logic workflow
        for reward decision making for our Octopet, and maintaining our
        Github repository and Devpost submission page.
        Oh, and I recorded a video because why not?"
        videourl: v8cSqTl3CbQ
    enlighten:
        id : "enlighten"
        thumbnail : "Enlighten"
        title : "Enlighten Your Day"
        shorttitle: "Enlighten Your Day"
        date: "January 2017"
        playurl :
        infourl : https://devpost.com/software/enlighten-your-day
        description : "Enlighten Your Day with a collection of inspirational quotes from ten distinct categories."
        tags:
            - "HTML"
            - "JS"
        hackathon: true
        demoed: false
        awards:
        team: <a href="https://amibpatel.me/" target="_blank">Ami Patel</a>, My Lynn Huynh, <a href="https://wong-jessica.me/" target="_blank">Jessica Wong</a>
        context: "Class Project (ICS 32)"
        role: Programmer
        roledescription: "Configured mySQL backend with PHPMyAdmin and Ubuntu. As project lead,
helped code the backend system that saves user settings depending on the quote theme picked."
        videourl:
    

---

<div style="padding:10px">
    <center>
    <p><small><i class="fab fa-hackerrank"></i> Hackathon Project
        | <i class="fas fa-gamepad"></i> Game Jam Project
        | <i class="fas fa-medal"></i> Award-winning Project. <br/>
        Sorted from newest to oldest.</p>
    </center>
</div>

<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#gamesCollapse">Games</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#hackathonCollapse">Hackathon (except games)</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#projectsCollapse">Personal Projects</a>
    </li>
</ul>
<hr />
<div class="tab-content">
    <div class="tab-pane active" id="gamesCollapse">
        <div class="container" style="background-image: linear-gradient(black,#003333);padding:20px;border-radius: 20px">
            {% include games_spotlight.html %}
        </div>
        <div class="container" style="padding:10px">
            <div class="row" style="background-image: linear-gradient(black,#003333);padding:20px;border-radius: 20px">
                <div class="col">
                    <center><h4>Game Engine Usage</h4></center>
                    <div class="progress" style="height: 35px;">
                        <div class="progress-bar bg-dark" role="progressbar" style="width: 42%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"><strong>Unity</strong></div>
                        <div class="progress-bar bg-success" role="progressbar" style="width: 42%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"><strong>GameMaker: Studio</strong></div>
                        <div class="progress-bar bg-info" role="progressbar" style="width: 16%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"><strong>Python</strong></div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-12">
                    {% for projectItem in page.games %}
                    {% include project_listing.html %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="hackathonCollapse">
        <div class="container" style="padding:10px">
            <div class="row">
                <div class="col-sm-12">
                    {% for projectItem in page.hackathon %}
                    {% include project_listing.html %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="projectsCollapse">
        <div class="container" style="padding:10px">
            <div class="row">
                <div class="col-sm-12">
                    {% for projectItem in page.projects %}
                    {% include project_listing.html %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>


{% for projectItem in page.projects %}
    {% include project_modal.html %}
{% endfor %}

{% for projectItem in page.hackathon %}
    {% include project_modal.html %}
{% endfor %}

{% for projectItem in page.games %}
    {% include project_modal.html %}
{% endfor %}