<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% include meta.html %}

    <style>
      header.page-header {
        background-image: linear-gradient(60deg, #b22d00, #ff845b)
      }
      div.carousel-caption {
        background: rgba(0, 0, 0, 0.7);
        -webkit-border-radius:20px;
        -moz-border-radius:20px;
        border-radius:20px;
      }
      td.skillicon {
        font-size:36px;
        padding:5px;
        text-align: center;
      }
      td.skilldesc {
        font-size:24px;
        padding:5px;
      }
    </style>



  </head>
  <body>
    <header class="page-header" role="banner">
      <img src="/img/arthur_cartoon_head.jpg" style="max-width: 200px; border-radius: 50px"/>
      <h1 class="project-name">Arthur</h1>
        <a href="mailto:arttham@arttham.com">arttham@arttham.com</a>
        <br>
        <br>
        <a class="btn btn-light" href="/cv">Full CV</a>
        <a class="btn btn-light" href="/project">Games/Projects</a>
        <a class="btn btn-light" href="/media">Media</a>
        <a class="btn btn-light" href="/research">Research</a>

      <div style="font-size: 48px; color: white;">
        {% include social.html %}
      </div>
    </header>


      {{ content }}
    <main id="content" class="main-content" role="main">
      {% include footer.html %}
    </main>
  </body>
</html>
