<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% include meta.html %}

    <style>
      header.page-header {
        background-image: linear-gradient(60deg, #b22d00, #ff845b)
      }
      div.carousel-caption {
        background: rgba(0, 0, 0, 0.7);
        -webkit-border-radius:20px;
        -moz-border-radius:20px;
        border-radius:20px;
      }
      span.skillicon {
        font-size:36px;
        padding:5px;
        text-align: center;
      }
      td.skilldesc {
        font-size:24px;
        padding:5px;
      }
    </style>



  </head>
  <body>
    <header class="page-header" role="banner">
      <div class="container d-flex justify-content-center align-items-center" style="height:80vh">
        <div class="row">
          <div class="col col-lg-12">
            <img src="/img/arthur_cartoon_head.jpg" style="max-width: 200px; border-radius: 50px"/>
            <h1 class="project-name">Arthur Tham</h1>
              <a href="mailto:arttham@arttham.com" style="color:aqua">arttham@arttham.com</a>
              <br/><h1>{% include social.html %}</h1>
          </div>
        </div>
        </div>
      </div>
    </header>


      {{ content }}
    <main id="content" class="main-content" role="main">
      {% include footer.html %}
    </main>
  </body>
</html>
