<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% include meta.html %}

    <style>
      header.page-header {
        background-image: linear-gradient(60deg, #b22d00, #ff845b)
      }
      div.carousel-caption {
        background: rgba(0, 0, 0, 0.7);
        -webkit-border-radius:20px;
        -moz-border-radius:20px;
        border-radius:20px;
      }
      td.skillicon {
        font-size:36px;
        padding:5px;
        text-align: center;
      }
      td.skilldesc {
        font-size:24px;
        padding:5px;
      }
    </style>



  </head>
  <body>
    <header class="page-header" role="banner">
      <div class="container">
        <div class="row">
          <div class="col col-lg-4">
            <img src="/img/arthur_cartoon_head.jpg" style="max-width: 200px; border-radius: 50px"/>
            <h1 class="project-name">Arthur</h1>
              <a href="mailto:arttham@arttham.com" style="color:aqua">arttham@arttham.com</a>
          </div>
          <div class="col col-lg-8">
            <div class="border border-warning" style="padding:20px;border-radius:20px;width:100%;height:100%;text-align: left;background-color: black;">
              <h2>About Me</h2>
              <ul style="line-height: 1.5em">
                  <li>I received a <strong>M.S. degree in Computer Science at UC Irvine</strong> in March 2021!
                  <li>I am looking for opportunities as a <strong>software engineer</strong> / <strong>game developer!</strong></li>
                  <li>I <u><a href="#games"><strong>make games</strong></a></u> as a hobby and and as my job as a part-time <a href="/cv/#experience">contractor</a>.
                  <li>I am a <strong>shoutcaster</strong> for amateur eSports events, including VALORANT and Tetris.</li>
                  <li>I'm a Mario Kart lover and DK enthusiast!</li>
                  <li><u><a href="https://hackuwu.tech" target="_blank">Uwu!</a></u></li>
              </ul>
              <div style="font-size: 24px; color: white;">Connect: {% include social.html %}</div>
          </div>
        </div>
        </div>
      </div>
    </header>


      {{ content }}
    <main id="content" class="main-content" role="main">
      {% include footer.html %}
    </main>
  </body>
</html>
